[mysqld]
skip-networking
lc-messages=en_US
lc-messages-dir=/usr/share/mysql
innodb_force_recovery=1
socket=/tmp_mysql/mysql.sock
user=root
pid-file=/tmp_mysql/mysqld.pid
log-error=/tmp_mysql/mysql.log
datadir=/tmp_mysql